{% extends "model-page.html"%}

{% block content %}
    <div class="col-sm-9">
    <div class="mt-5">
        <p>Selecione uma data.</p>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <form class="d-flex" action="lista_indice" method="post">
            {% csrf_token %}
                <input class="form-control me-2" type="date" name="data" value="{{ data|date:'Y-m-d' }}">
                <button class="btn btn-success" type="submit">Buscar</button>
            </form>
        </div>
    </div>
    <div class="row mt-3">
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <div class="alert alert-{{message.tags}}">
                {{ message }}
              </div>
            {% endfor %}
          </ul>
        {% endif %}
    </div>
</div>


{% endblock %}