{% extends "model-page.html"%}

{% block content %}
    <div class="col-sm-9 mt-5">
      <h2>Polo Gesseiro do Araripe</h2>
        <p>O polo gesseiro do Araripe é uma importante região localizada no sertão do estado de Pernambuco,
            no nordeste do Brasil. É responsável por cerca de 95% da produção de gesso do país, tornando-se
            um dos principais polos de mineração e transformação de gipsita em produtos de gesso. </p>
        <p>A região do Araripe tem uma economia bastante dependente da mineração e transformação de gipsita
            em gesso. O setor emprega muitos trabalhadores, incluindo mineradores, técnicos, engenheiros e
            operadores de máquinas. No entanto, a atividade também gera impactos ambientais, como o desmatamento
            e a degradação do solo, além de problemas sociais, como conflitos entre a população e as empresas de
            mineração.</p>

      <h2>Qualidade do Ar</h2>

      <p>A qualidade do ar é uma medida da quantidade e natureza dos poluentes presentes na atmosfera em um
          determinado momento e local. A qualidade do ar pode afetar a saúde das pessoas, a qualidade de vida,
          a biodiversidade e a economia.</p>
        <p>Entre os poluentes do ar mais comuns estão o dióxido de carbono (CO2), o dióxido de enxofre (SO2),
            o monóxido de carbono (CO), o ozônio (O3), o material particulado (PM) e os compostos orgânicos
            voláteis (COV). Esses poluentes podem causar uma série de problemas de saúde, como doenças
            respiratórias, cardiovasculares e câncer, além de afetar a vegetação, os animais e a qualidade
            dos ecossistemas.</p>

        <h2>Estação de Monitoramento da Qualidade do Ar</h2>
        <p>Esta estação de monitoramento da qualidade do ar faz parte da dissertação do aluno Eziom
        Alves para o programa de pós-graduação em Dinâmicas de Desenvolvimento do Semiárido da Universidade Federal do Vale
        do São Fransico.</p>
        <p>A estação realiza o monitoramento da qualidade do ar nas cidades do polo Gesseiro do Araripe de acordo com
            o <a href="https://www.gov.br/mma/pt-br/centrais-de-conteudo/mma-guia-tecnico-qualidade-do-ar-pdf"
            class="link-primary" target="_blank">Guia Técnico para o Monitoramento e Avaliação da Qualidade do Ar</a>,
            elaborado pelo Ministério do Meio Ambiente. Nessa fase inicial, são monitorados os poluentes MP10 e MP2.5
            e o monitoramento é realizado na cidade de Ouricuri-PE (mapa a seguir)</p>

        <h2 class="mt-5">Localização da Estação de Monitoramento</h2>
        <!--Google map-->
        <div class="map-responsive">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31616.64461421743!2d-40.09946031901449!3d-7.886638686358906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x79f8cb0c98f3e5b%3A0x3ae4b4157e2c40e7!2sOuricuri%2C%20PE%2C%2056200-000!5e0!3m2!1spt-BR!2sbr!4v1677968106617!5m2!1spt-BR!2sbr"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>
{% endblock %}
